@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Funnel+Display:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Galindo&family=Playwrite+AU+SA:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    /* cursor: none; */
}

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald:200,400|Playfair+Display:400,400i');


a {
  text-decoration: none;
  color: #92BFB1;
  &:hover {
    background: #92BFB1;
    color: #333333;
  }
}

.sticky {
  position: fixed;
  z-index: 10;
}
.navbar--container {
  top: 20%;
  background: #ffffff;
  height: 100px;;
  width: 50px;
  box-shadow: 2px 2px 15px rgba(#333333, .1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar--icon {
  font-size: 1em;
  &:hover {
    color: #92BFB1;
    cursor: pointer;
  }
}
.navbar--title {
  h4 {
    writing-mode: vertical-rl;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .34em;
    text-transform: uppercase;
    font-size: 0.9em;
  }
}


.nav--open {
  height: fit-content;
  width: 50vw;
  background: black;
  transition: all .4s ease-out;
  opacity: 1;
  box-shadow: 2px 2px 15px rgba(#333333, .1);
}

.nav--open-icon {
  text-align: right;
  i {
    font-size: 1.8em;
    color: #92BFB1;
    &:hover {
      color: #333333;
      cursor: pointer;
    }
  }
}

.nav--open-title {
  font-family: 'Oswald', sans-serif;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-align: center;
}

.nav--open-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  a {
    font-size: 2em;
    font-weight: 100;
    font-family:'Schoolbell';
    padding: 5px 0;
  }
}

.close {
  transform: translateX(-300px);
  transition: all .4s ease-out;
  opacity: 0;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.two {
  background: darken(#92BFB1, 1%);
}

.three {
  background: darken(#92BFB1, 10%);
}

h1 {
  font-family: 'Abril Fatface', serif;
  margin: 0;
  line-height: 1em;
  font-weight: 100;
  color: #ffffff;
  font-size: 3.5em;
  span {
    font-style: italic;
    text-decoration: underline;
    color: darken(#92BFB1, 10%);
  }
}

.light {
  color: lighten(#92BFB1, 10%);
}

.underline {
  text-decoration: underline;
}

body{
    background: rgb(0, 0, 0);
    line-height: 1.5;
    /* cursor: none; */
    overflow-x: hidden;
}

.rubik {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
  }
  

.funnel {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;

}
.header{
  font-size: 60px;
}

.bg-effect{
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    background:#6CBDE9;
    top: 0;
    left: 0;
    z-index: -1;
}
.background-text {
  font-size: 5rem;
  line-height: 1;   
  font-weight: bold;
  /* color: #ff3d00; */
  text-transform: uppercase;
  color: #6CBDE9;
    position: absolute;
  /* background: #6CBDE9; */
  /* position: absolute; */
  z-index: 1;
  /* mix-blend-mode: difference; */
  white-space: nowrap;
    animation: scrollText 4s linear infinite;
}

@keyframes scrollText {
    0% {
      transform: translateX(90px); /* Start outside the viewport (right) */
    }
    100% {
      transform: translateX(-300px); /* End outside the viewport (left) */
    }
  }


.circle {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  pointer-events: none;
  background: rgb(255, 255, 255);
  /* mix-blend-mode: lighten; */
  z-index: -1;
  overflow: hidden;
  transition: all 100ms;
  /* backdrop-filter: blur(5px); */
}
.torn-paper{
  width: 100vw;
  height: 150px;
  background: url('./assets/rb_23482up.png');
  background-repeat: repeat-x;
  background-position: bottom;
}
.circle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(83, 158, 200)
}

  
  .h1shadow{
      color: white;
  }

 #particle-slider {
  background-color: black;
  height: 100vh;
  width: 100vw;
  
  overflow: hidden;
}

.img{
    width: 100%;
    /* flex: 1; */
    margin-top: 5rem;
    height: 90%;
    background: url("./assets/sofa.jpg");
    /* background: url("./greek.png"); */
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-inline: auto;
    
    /* transform: rotate(1.6deg); */
}
.img1 {
  width: 100%;
  height: 100%; /* Ensures the image fills the container */
  background: url("./assets/Just one meow away (3).png");
  background-size: contain; /* Ensures no repetition and scales the image proportionally */
  background-repeat: no-repeat;
  background-position: center; /* Centers the image */
  position: relative;
  
}

.img2 {
  width: 100%;
  height: 100%; 
  background: url("./assets/SIMPLE.png");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: bottom;


}

.img3{
  width: 100%;
  height: 100%; 
  background: url("./assets/winner.png");
  background-size: contain; 
  background-repeat: no-repeat;
 
  


}

.maggies{
  width: auto;
  height: 500px; 
  background: url("./assets/maggies.jpeg");
  background-size: contain; 
  background-repeat: no-repeat;
  


}
.container{
  display: grid;
  position: relative;
  min-height: 900px;
  background: #FFF;
  grid-template-columns: 1fr 3fr 1fr;
}
.section{
  
  padding: 1px;
  
  height: 900px;
   
    

}
.reveal-section{
  

  top:0px;
  width:100%;

}

/* .orange-bg {
  
  padding-bottom: 100vh; 
  
} */


.vid-div {
  width: 100%;
  height: 100%;

}

.vid-div video {

  
  height: 100vh;
  max-width: 90vw; /* Ensure the video scales appropriately */

}

.video-section{
  position: fixed;
  top: 0;
  left: 0;
  width:90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  
  height: 100vh;
  display: flex;
  flex-direction: column;

  background: black;
}

.button{
    text-transform: uppercase;
    /* text-shadow: 5px 5px 0px black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
    
    background: rgba(255, 255, 255, 0);
    padding: 5px 50px;
    /* border-radius: 50vw; */
    color: white;
    left: 50%;
    /* width: 100vw; */
   
    /* border: 1px solid; */
    border: 0;
    outline: none;

    border-top: 0px transparent;
    border-bottom: 0px transparent;
    font-size: 50px;
    z-index: 1;
    transition: all 0.2s;
    

}

.last-scrolling-section{
  margin-bottom: 100vh;
  position: relative;
  z-index: 1;
  
}
.square {
  width:800px; 
  height: fit-content;
  background-color: rgb(50, 49, 49);
  color: rgb(255, 255, 255); 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  padding: 20px; /* Inner spacing */
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  font-family: Arial, sans-serif; 
  margin: 20px auto; 
}

.clouds{
  background: url("./assets/clouds.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: -1;

  /* padding-top: 300px; */
  /* min-width: 1920px; */
}
.shep{
  position: relative;
  height: 1552px;
  /* width: 100%; */
  background: url("./assets/shep2.png");
  background-repeat: no-repeat;
  background-position: 25% top;
  background-size: cover;
  display: flex;
  justify-content:center;
  align-items: end;
  /* padding-bottom: 20px; */
  color: white;
  h1{
    width: 100%;
    text-align: center;
    border-bottom: 20px solid;
  }
  /* min-width: 1920px; */
}

.winners{
  width: 100%;
  height: 100%; 
  background: url("./assets/winner.gif");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative; bottom: 350px; right:150px;

}


    /* The @font-face rule is used to define a custom font that you want to use on your webpage. Here 'TheFont' is a name we give to reference the font later in CSS. The 'src' property specifies the path to the font file, and 'format' specifies the font format. */
    @font-face {
    font-family: 'TheFont';
    
    /* Variable fonts like the one linked below allow for fine-tuned control over various font properties dynamically via CSS, such as weight ('wght'), width ('wdth'), etc. This link is where your web browser will download the font from. */
    /* Insert the link to your custom variable font */
    src: url("https://garet.typeforward.com/assets/fonts/shared/TFMixVF.woff2")
      format('woff2'); }


  .breathe-animation {
    text-align: center;
        font-size: clamp(1rem, 5vw, 6rem);
        margin-top: 10px;
        color: white;
        -webkit-text-stroke: 2px rgba(0, 0, 0, 1); 
        text-shadow: 0 5px 0 #17202A, 0 0px 0 #17202A, 0 5px 0 #17202A, 0 5px 0 #17202A, 0 5px 0 #17202A, 0 5px 0 #17202A;
    font-family: 'TheFont';

    /* color: white; */
    animation: letter-breathe 3s ease-in-out infinite;
}
  
  @keyframes letter-breathe {
   
    /* The 'from' and 'to' keyframes establish the initial and final states of the animation, respectively, using 'font-variation-settings'. This CSS property is used with variable fonts to adjust their weight ('wght'), width ('wdth'), etc., during the animation. */
    from,
    to, 10% {
      /* Starting weight; adjust the numbers according to your specific font */
      font-variation-settings: 'wght' 200;
    }

    50% {
      font-variation-settings: 'wght' 600;
    }

    
  }

  .boot-container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
.custom-cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    pointer-events: none;
    background: url('pen.png') no-repeat center center;
    background-size: contain;
    z-index: 1000;
}

.letter {
    position: absolute;
    pointer-events: none;
    font-size: 20px;
    font-weight: bold;
    color: #0a171b4b;
    animation: fadeOut linear forwards;
  }

  .trail {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #061215e4; /* Trail color */
    border-radius: 50%;
    pointer-events: none;
    animation: fadeOut 800ms linear forwards;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }

/* 
.appear{
    animation: appear linear;
    animation-timeline: view();
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }to{
        opacity: 1;
        scale: 1;
    }
    
} */

.outskirts:nth-child(3){
  display: flex; flex-direction: column; justify-content: space-between; padding: 20px;align-items: center;
}


.top {
  position: absolute;
  width: max-content;
  z-index: 1;
  top: 0; /* Stick to the top of the viewport */
  display: flex;
  justify-content: center;
  flex-direction: column;
   /* Space between links */
  padding: 10px 20px;
 
}
.neonText {
  font-family: "Vibur", sans-serif;
  font-size: x-large;
  
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(255, 255, 255),
      0 0 82px rgb(255, 255, 255),
      0 0 92px rgb(255, 255, 255),
      0 0 102px rgb(255, 255, 255),
      0 0 151px rgb(255, 255, 255);
}

.box{
  width: 100%;
  height: 60px;
  background-color: black;
}
.logo {
  position: relative;
  width: 288px;
  height: 60px;
 
  background: url("./assets/magboard.png");
  z-index: 2;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}


@media only screen and (max-width: 700px) {
  .outskirts{
    display: none !important;
  }


  .box{
    width: 320px;
  }
  .section{
    height: auto;
    width: 100%;
  }
  .maggies{
    width: auto;
    height: 300px;
  }
  .breathe-animation{
    /* width: 100%; */
    font-size: 9vw !important;
  }



  .orange-bg{
    padding-bottom: 20vh;
  }
  





  .img{
    position: relative;
    bottom: 100px;
  }
  .img1{
    max-width: 100%;
    height: 40%;
  }

  .img3{
    max-width: 100%; /* Makes images flexible on smaller screens */
    height: 320px;
    z-index: 2;
    left: 40px;
    bottom: 90px;

  }
  .winners{
  width: 100%;
  height: 300px; 
  background: url("./assets/winner.gif");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative; 
  bottom: 0px;
  right: 0px;



  }
  .last-scrolling-section.orange-bg > .container{
    grid-template-columns: 1fr;
    min-height: 900px;
    width: 100%;
  }

  .container{
    grid-template-columns: 1fr;
    min-height: 500px;
    width: 100%;
  }

  
  .square {
    width: 80%; 
    height: auto; 
    padding: 15px; 
    font-size: 8px;
  }

  .prices .funnel
  {
    font-size: 10px;
    position: relative;
    left: 20px;
  }

  .prices{
    margin-left: 50px;
    margin-right: 50px;
  }
  .header{
    position: relative;
    left: 20px;
    font-size: 20px; /* Adjust font size for mobile */
    
  }
  

  
  
.vid-div video {
  width: 100%;
  height: 192px;
}
 
 
.video-section{
  height: auto;
 
  
}
.prices .neonText {
  font-size: small;
  position: relative;
    left: 20px;
  

}
.neonText {
  font-size: medium;
  
  

}
}

@media only screen and (min-width: 700px) {
  .for-mobile{
    display: none;
  }
  .custom-cursor {
    display: none;}
  
  

}


.link {
    width: 10rem;
    height: 10rem;
    display: inline-block;
    font: 300 1.55rem/1.4 "Funnel Display";
    text-transform: uppercase;
    letter-spacing: 0.1575em;
    word-spacing: 0.4em;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.181); border-radius: 50%; padding: 10px;
}

.link__svg {
    width: 100%;
    height: auto;
    transform-box: fill-box;
    fill: #ffffff;
    stroke: #ffffff;
    stroke-width: 0.05em;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.link__cloud {
    transform-origin: 50% 50%;
    animation: rotate 60s linear infinite;
    fill: rgba(255, 255, 255, 0.15);
}

.link__face,
.link__arrow {
    transform-origin: 50% 50%;
    transition: transform 0.15s cubic-bezier(0.32, 0, 0.67, 0);
}
.link:hover{
  background: black;

}
.link:hover .link__face,
.link:hover .link__arrow {
    transform: scale(1.1) rotate(-20deg);
    transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

.link__arrow {
    stroke-width: 0.075em;
}

.link__text {
    animation: rotateReverse 20s linear infinite;
    transform-origin: 50% 50%;
    /* text-decoration: underline; */
}

.link:hover .link__text {
    animation-play-state: paused;
}

.link--alt {
    font-size: 1.15rem;
    letter-spacing: 0;
    word-spacing: 0;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateReverse {
    to {
        transform: rotate(-360deg);
    }
}

.footer {
  padding: 20px;
}

.boot-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.logo-container .logo {
  max-width: 150px;
  height: auto;
}

.logo-container .content {
  flex: 1;
}

.contact-container {
  padding: 20px;
}

.map {
  flex: 1;
  min-width: 300px;
  border-radius: 15px;
  overflow: hidden;
}

.contact {
  flex: 1;
  min-width: 200px;
}

.cssbuttons-io-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .boot-container {
      flex-direction: column;
  }

  .map iframe {
      height: 250px;
  }
}

@media (max-width: 480px) {
  .funnel h1, .funnel p {
      text-align: center;
  }

  .cssbuttons-io-button {
      width: 100%;
      text-align: center;
  }
}